.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 36px;
  font-family: var(--font-SFPro);
  font-size: 14px;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  place-content: center center;
  width: 160px;
  height: 140px;
  padding: 28px 25px 20px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid rgb(255 255 255 / 15%);
  border-top: none;
  border-radius: 0 0 93px 93px;
  transform: translateX(-50%);
}

.handle {
  font-weight: 500;
  color: rgb(135 176 149 / 35%);
  text-align: right;
}

.phone {
  margin-bottom: 5px;
  transition: color ease-in-out 0.3s;

  &:hover {
    color: var(--color-secondary);
  }
}

.switch {
  display: flex;
  gap: 7px;
  justify-content: flex-end;
}

.lang {
  text-transform: uppercase;
  transition: color ease-in-out 0.3s;

  &:hover {
    color: var(--color-secondary);
  }
}
