.welcome {
  margin-bottom: 210px;
}

.content {
  position: relative;
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
}

.title {
  color: #d78f89ff;

  @supports (--css: variables) {
    color: transparent;
    background: #d4c9c1;
    background: linear-gradient(54deg, #e8dccc 0%, #daa9a5 19.61%, #d78f89 53.19%, #c7958a 100%);
    background-clip: text;
    background-clip: text;

    * {
      background: inherit;
    }
  }
}

.decor {
  position: absolute;
  top: 100%;
  right: 0;
  font-family: var(--font-Artist);
  font-size: 67px;
  color: var(--color-secondary);
  rotate: -11deg;
}
