@import "@styles/variable.css";

.section {
  position: relative;
  padding-bottom: 330px;
  margin-bottom: 100px;
  overflow: hidden;
}

.content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 120px;
}

.title {
  width: 100%;
  max-width: 770px;
  margin: 0 auto 130px;

  @media (--md-medium) {
    width: 360px;
  }
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;

  @media (--md-medium) {
    grid-template-columns: 1fr;
  }
}

.photos {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: 38.54vw 38.54vw 38.54vw;
  gap: 30px;
  rotate: -3deg;

  @media (--md-medium) {
    grid-template-columns: 351px 351px 351px;
    height: 215px;
    gap: 6px;
  }
}

.img {
  max-height: 23.64vw;
  overflow: hidden;
  border-radius: 26px;

  @media (--md-medium) {
    max-height: fit-content;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
}
