@import "@styles/variable.css";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 36px 30px;
  font-family: var(--font-SFPro);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2px;

  @media (--md-medium) {
    display: none;
  }
}

.list {
  li {
    line-height: 1.35em;
    list-style: none;

    &:nth-child(3n) {
      margin-bottom: 15px;
    }
  }

  a {
    transition: color ease-in-out 0.3s;

    &:hover {
      color: var(--color-secondary);
    }
  }
}
